{% extends "base.html" %}
{% block content %}
<div class="container my-5">

        <div >
            <p>Modifier un administratif |</p>
        </div>
    <div class="row py-5">

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
            {{edit_administratif_form.as_p}}

            <button type="submit">Modifier</button>
                </div >
        </form>
    </div>
</div>



{% endblock content %}



 {% comment %} {% extends 'base.html' %}
 {% block title %}
 Modifier une tâche |
 {% endblock title %}
 {% block content %}
     <form method="post">
         {% csrf_token %}
         {{edit_task_form}}
         <button type="submit">Modifier</button>
     </form>
 {% endblock content %} {% endcomment %} 